html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}
h1{
    font-size: 500%;
    color: rgb(0, 0, 0);
    position: relative;
    padding:0;
    margin:0;
    top: -12%;
    
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: beige;
    border: solid 1px black;
    width: 100vw;
    height: 100vh;
    
    text-align: center;
}

#dateInput {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 15%;
    height:3%;
}

#button-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:3%;
    margin-top:1%;
    margin-bottom: 1%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #70dd74;
    color: rgb(25, 29, 13);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 14%;
}

#button-div:hover {
    background-color: #45a049;
}

#inner {
    display: flex;
    flex-direction: row;
    width: 300%;
    height: 8%; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#linker {
    background-color: rgb(243, 127, 243);
    width: 2.2%;
    cursor: pointer;
    transition: background-color 0.3s;
}
#linker:hover{
    background-color: rgb(243, 31, 243);
}
#linker>a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(150, 222, 238);
    color: rgb(17, 14, 14);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    height: 50px;
    width: 1%;
    margin: 0 10px;
}

.bracks {
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 40px;
    font-weight: bold;
}
.bracks:hover {
    background-color: rgb(41, 208, 245);
}



                
        